//- Container
.container {
  flex: 1 0 auto;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  padding: $spacing-1-5 $spacing-1-5 0;
  
  &--narrow {
    width: 80%;

    @media (#{$tablet-up}) {
      width: 90%;
    }
  }
}

.grid { 
  @include grid; 

  &--top      { align-items: flex-start; }
  &--middle   { align-items: center; }
  &--bottom   { align-items: flex-end; }
  &--stretch  { align-items: stretch; }
  &--baseline { align-items: baseline; }
  &--left     { justify-content: flex-start; }
  &--center   { justify-content: center; }
  &--right    { justify-content: flex-end; }
  &--between  { justify-content: space-between; }
  &--around   { justify-content: space-around; }

  @for $index from 1 through $total-columns {
    &--of-#{$index} {
      .grid__cell {
        flex: 0 0 calc(100% / #{$index});
      }
    }
  }
}

.grid__cell { 
  @include cell; 

  .grid & {
    &--fill { 
      flex-grow: 1; 
    }
  }
}


@for $index from 1 through $total-columns {
  .grid__cell--#{$index}-of-#{$total-columns} {
    @if ($index != $total-columns) {
      width: calc(100% * #{$index} / #{$total-columns});
    } @else {
      width: 100%;
    }
  }
}

