$total-columns: 12;
$gutter-spacing: $spacing-1-5;

//- Container
.container {
  flex: 1 0 auto;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  padding: $spacing-1-5 $spacing-1-5 0;
  
  &--narrow {
    width: 80%;

    @media (#{$tablet-up}) {
      width: 90%;
    }
  }
}

.grid { 
  @include grid; 

  &--top      { align-items: flex-start; }
  &--middle   { align-items: center; }
  &--bottom   { align-items: flex-end; }
  &--stretch  { align-items: stretch; }
  &--baseline { align-items: baseline; }
  &--left     { justify-content: flex-start; }
  &--center   { justify-content: center; }
  &--right    { justify-content: flex-end; }
  &--between  { justify-content: space-between; }
  &--around   { justify-content: space-around; }

  &--gutters {
    .grid__cell {
      padding-left: calc(#{$gutter-spacing} / 2);
      padding-right: calc(#{$gutter-spacing} / 2);

      &:first-of-type {
        padding-left: 0;
      }
      &:last-of-type {
        padding-right: 0;
      }
    }
  }

  @for $index from 1 through $total-columns {
    &--of-#{$index} {
      .grid__cell {
        flex: 0 0 calc(100% / #{$index});
      }
    }
  }
}

.grid__cell { 
  @media (#{$tablet-up}) {
    @include cell; 
  }

  .grid--small & {
    @include cell;
  }

  .grid & {
    &--fill { 
      flex-grow: 1; 
    }
  }
}


@for $index from 1 through $total-columns {
  .grid__cell--#{$index}-of-#{$total-columns} {
    @if ($index != $total-columns) {
      width: calc(100% * #{$index} / #{$total-columns});
    } @else {
      width: 100%;
    }
  }
}

